In [48]:
import pandas as pd
from geopy.geocoders import Nominatim
geolocator = Nominatim()

data = pd.read_csv("file1.csv")

In [49]:
data.rename(columns={"Address": "address"}, inplace=True)

data

,ID,address,Name,Employees
0,1,3666 21st St San Francisco CA 94114 USA,Madeira,8
1,2,735 Dolores St San Francisco CA 94119 USA,Bready Shop,15
2,3,332 Hill St San Francisco California 94114 USA,Super River,25
3,4,3995 23rd St San Francisco CA 94114 USA,Ben's Shop,10
4,5,1056 Sanchez St San Francisco California USA,Sanchez,12

In [50]:
def lat(row):
    location = geolocator.geocode(row.address)
    if location:
        
        row["latitude"] = location.latitude
        row["longitude"] = location.longitude
        
    return row

In [51]:
data = data.apply(lat, axis=1)

In [52]:
data

,Employees,ID,Name,address,latitude,longitude
0,8,1,Madeira,3666 21st St San Francisco CA 94114 USA,37.757051,-122.418804
1,15,2,Bready Shop,735 Dolores St San Francisco CA 94119 USA,NaN,NaN
2,25,3,Super River,332 Hill St San Francisco California 94114 USA,37.756102,-122.421041
3,10,4,Ben's Shop,3995 23rd St San Francisco CA 94114 USA,37.752965,-122.431714
4,12,5,Sanchez,1056 Sanchez St San Francisco California USA,37.748362,-122.429346

In [10]:
h = data.to_html()

In [12]:
import datetime

In [14]:
d = datetime.datetime.now()

In [32]:
d.strftime("%Y-%m-%d-%H-%M-%S")

'2017-11-26-22-21-16'